.drop-down {
  position: relative;
  width: 100%;
  height: 80px;
}

.drop-down-label {
  position: absolute;
  top: -24px;
  left: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.drop-down-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;

  &.isOpen {
    height: 100%;
    backdrop-filter: blur(3px);
  }
}

.drop-down-trigger-box {
  width: 100%;
  height: 50px;
  border: 3px solid #333;
  border-radius: 8px;
  padding: 0 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.error {
    border: 2px solid red;
    border-radius: 8px;
    box-sizing: border-box;
  }
}

.drop-down-value {
  font-size: 1.6rem;
  font-family: "Jua", sans-serif;
}

.drop-down-trigger {
  font-size: 1.4rem;
  font-weight: bold;
}

.drop-down-error {
  position: absolute;
  bottom: 6px;
  left: 0;
  font-size: 0.8rem;
  font-weight: 550;
  font-family: "Jua", sans-serif;
  color: red;
}

.drop-down-menu {
  width: 100%;
  padding: 6px 0;
  margin: 16px 0;
  box-sizing: border-box;
  border-radius: 8px;
  background: #333;
}

.drop-down-item {
  width: 100%;
  height: 30px;
  padding: 6px 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: gainsboro;
  text-align: center;
  cursor: pointer;
  font-family: "Jua", sans-serif;

  & + & {
    margin-top: 6px;
  }
}
