.input-box {
  width: 100%;
  height: 80px;
}

.input-label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  height: 50px;
  padding: 12px;
  margin: 6px 0;
  box-sizing: border-box;
  border: 3px solid #242424;
  border-radius: 8px;
  outline: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  background: transparent;
}

.input-error {
  font-size: 0.8rem;
  font-weight: 550;
  color: red;
}
