.header-nav {
  width: 100%;
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 120px;
  height: auto;
}

.header-text {
  padding-right: 18px;
  box-sizing: border-box;
  font-size: 1.4rem;
  color: #333;
}
