.header-nav {
  width: 100%;
  padding-top: 14px;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 120px;
  height: auto;
}

.header-write-link {
  padding: 6px 24px;
  margin-right: 18px;
  border: 5px solid #333;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;

  &:hover {
    color: #fff;
    background: #333;
  }
}
