.room-detail-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #333;
  transition: all 0.5s ease-in-out;
  z-index: 100;

  &.active {
    height: 430px;
  }
}

.room-detail-background::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0); /* 배경 색상을 투명하게 설정 */
  backdrop-filter: blur(3px); /* 모자이크 처리에 사용할 블러 필터 */

  &.active {
    height: 100%;
  }
}

.room-detail-id {
  position: absolute;
  top: -30px;
  left: 12px;
  display: flex;
  width: 80px;
  height: 80px;
  border: 10px solid #333;
  border-radius: 100%;
  font-size: 3.3rem;
  color: #333;
  background: gainsboro;
  justify-content: center;
  align-items: center;
}

.room-detail-back {
  position: absolute;
  top: 48px;
  right: 24px;
  font-size: 1.8rem;
  color: gainsboro;
  cursor: pointer;
}

.title-label {
  position: absolute;
  top: 90px;
  left: 24px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.room-detail-title {
  position: absolute;
  top: 130px;
  left: 24px;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Jua", sans-serif;
  color: gainsboro;
}

.full-label {
  position: absolute;
  top: 200px;
  left: 24px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.room-detail-full {
  position: absolute;
  top: 230px;
  left: 24px;
  font-size: 1.6rem;
  font-weight: bold;
  color: green;
}

.room-detail-button {
  position: absolute;
  top: 350px;
  width: 90%;
  height: 60px;
  margin: 0 20px;
  border-radius: 8px;
  font-size: 1.4rem;
  color: #333;
  text-decoration: none;
  background: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}
