#room-form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 53px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.room-form-logo {
  width: 250px;
  height: auto;
  animation: iconmove 2s infinite linear;
}

@keyframes iconmove {
  0% {
    transform: translate(0, -30%);
  }
  50% {
    transform: translate(0, -40%);
  }

  100% {
    transform: translate((0, -30%));
  }
}
