.room-item {
  position: relative;
  width: 100%;
  height: 80px;
  border: 5px solid #333;
  box-sizing: border-box;
  border-radius: 8px;
  background: #444;
  transition: all 0.5s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }
}

.room-item-id {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 2.4rem;
  color: gainsboro;

  .item-id {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    font-weight: bold;
    color: #444;
  }
}

.room-item-title {
  position: absolute;
  top: 50%;
  left: 72px;
  transform: translateY(-50%);
  font-size: 1rem;
  font-family: "Jua", sans-serif;
  color: gainsboro;
}

.room-item-info {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  text-align: center;

  .room-item-full {
    margin-bottom: 0.4rem;
    font-size: 1rem;
    color: gainsboro;
  }

  .room-item-game {
    &.start {
      font-size: 1rem;
      color: red;
    }
  }
}
