.room-head {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 0 18px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.room-head-num {
  position: absolute;
  top: 50%;
  left: 18px;
  font-size: 1.2rem;
  transform: translateY(-50%);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#room-head-button {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
}

.room-head-bottom-line {
  position: absolute;
  bottom: 0;
  width: calc(100% - 36px);
  height: 3px;
  border-radius: 36px;
  background: #333;
}
