.footer-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-background {
  width: 100%;
  height: 0;
  backdrop-filter: blur(3px);
  transition: all 0.5s ease-in-out;
  z-index: 50;

  &.active {
    height: 100vh;
  }
}

.footer-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  transition: all 0.5s ease-in-out;
  background-color: #333;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  &.active {
    height: 700px;
    border-radius: 0;
  }
}

.footer-dash-icon {
  width: 100%;
  margin-top: 16px;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
}
