.button {
  display: inline-block;
  margin: 30px 0;
  border: none;
  outline: none;
  border-radius: 8px;
  font-weight: bold;
  color: #fff;

  &.large {
    height: 60px;
    font-size: 1.25rem;
    padding: 0.8rem 1.25rem;
  }

  &.medium {
    height: 2.25rem;
    font-size: 1rem;
    padding: 0 1rem;
  }

  &.small {
    height: 1.75rem;
    font-size: 0.875rem;
    padding: 0 0.875rem;
  }

  &.primary {
    color: #333;
    background: none;
    border: 5px solid #333;
    &:hover {
      background: #333;
      color: white;
    }
  }

  &.fullWidth {
    width: 100%;
  }
}
