.button {
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 8px;
  font-weight: bold;
  color: #fff;

  &.large {
    width: 150px;
    height: 60px;
    font-size: 1.25rem;
  }

  &.medium {
    width: 100px;
    height: 50px;
    font-size: 1.2rem;
  }

  &.small {
    width: 80px;
    height: 30px;
    font-size: 0.875rem;
  }

  &.primary {
    color: #333;
    background: none;
    border: 5px solid #333;
    &:hover {
      background: #333;
      color: white;
    }
  }

  &.fullWidth {
    width: 100%;
  }
}
